{% extends 'main/include.html' %}
{% load static %}
{% block title %}<title>Стопфактор.рф</title>{% endblock title %}    
{% block content %}
<div class="fon">
    <p class="topHeadText">Узнайте свой Персональный кредитный рейтинг.<br>
        Оцените возможность одобрения кредита до обращения в банк.</p>
    <div class="preFon">
        <ul>
            <li>Проверь себя на наличие неизвестных кредитов и судебных задолженностей.</li>
            <li>В отличие от других компаний мы не отправляем ваши данные третьим лицам (стоимость выписки {{price}}₽).</li>
            <li>Вы не будите получать огромное количество смс со спамом от кредитных организаций.</li>
        </ul>
        <div class="homeForm">
            <input autocomplete="off" class="inputEdit" id="surname" placeholder="Фамилия" type="text">
            <input autocomplete="off" class="inputEdit" id="name" placeholder="Имя" type="text">
            <input autocomplete="off" class="inputEdit" id="patronymic" placeholder="Отчество" type="text">
            <div>
                <input autocomplete="off"  class="inputEdit" id="series" placeholder="Серия" type="number">
                <input autocomplete="off"  class="inputEdit" id="number" placeholder="Номер" type="number">
            </div>
            <input autocomplete="off" class="inputEdit" id="date" placeholder="Дата рождения"  type="text" onfocus="(this.type='date')">
            <input autocomplete="off" class="inputEdit" id="email" placeholder="Ваш email" type="email">
            <p id="errorText"></p>
            <button class="submit" id="submit" >Проверить</button>
        </div> 
    </div>
</div>
<div class="formdiv">
    <div class="bodyTop"></div>
    <div class="bodyBottom pc">
        <p class="midBodyText">Что такое крединый рейтинг?</p>
        <div class="midBodyBlock">
            <div class="midBodyLeftBlock">
                <img src="{%static 'main/img/creditHistory.png'%}" alt="">
            </div>
            <div class="midBodyRightBlock">
                <span>Почему некоторые сервисы предлагают проверить скоринг балл бесплатно.</span>
                <p>Наверняка вы видели предложение о проверки вашей кредитной истории (скоринг балла) «Абсолютно бесплатно», несколько довольно известных компаний предлагают такую услугу , так зачем же мне проверять скоринг балл за деньги подумаете вы ?<br><br>
                    Наверное все знают поговорку «Бесплатный сыр бывает только в мышеловке» , бесплатная проверка скоринг балла  именно это сыр . На сайте компании вам предложат ввести свои данные в том числе email и номер телефона, далее вы получите Вашу выписку , а компания предоставившая ее Вам ваши данные , далее чего что бы покрыть свои расходы на получение информации и получить прибыль компания продаст ваши данные как <b>Лид</b> ( потенциальный клиент заинтересованный в кредите), десяткам кредитных организаций ( МФО, МКК , Кредитным брокерам) и.т.д.   После чего на ваш email и номер телефона будут приходить бесконечные сообщения с предложением микрозайма , кредита и.т.п. <br>
                   Мы не продаем ваши данные поэтому выписка у нас платная. </p>
            </div>
            <!-- <div class="midBodyRightBlock">
                <span>Что такое скоринг балл?</span>
                <p>Скоринговая система получила свое название от английского слова «score», что переводится как счет или подсчет очков. Применяется скоринг в финансовых структурах для оценки платежеспособности заемщика. Клиент банка, при оформлении кредита, проходит обязательное анкетирование. Его профессиональные, демографические и социальные характеристики имеют определенный балл. Программа автоматически «подсчитывает очки» из анкеты и выдает результат о благонадежности потенциального заемщика. Сотрудник банка на основании скоринговой оценки решает: выдать кредит клиенту или же отказать ему.<br><br>

                    В основе банковского кредитования заложен принцип получения дохода от процента за предоставления заемных средств. Соответственно прибыль банкиры получают только при возврате денег надежными заемщиками. Чем больше у кредитной организации таких клиентов, тем выше доход.<br><br>
                    
                    Чтобы проверить качество кредитного портфеля клиента используется система скоринга при рассмотрении заявок. Многое зависит от базы кредитных историй, к которой обращается банк при оформлении займа. Например, если по базе известно, что клиент ранее пропускал платежи или имеет низкую платежеспособность, то ему в 99% случаев откажут в займе.<br><br>
                    
                    Наша компания обращается в самую крупную базу кредитной истории Нацианальное бюро кредитных историй.</p>
            </div> -->
        </div>
        <div class="midBodyBlock">
            <div class="midBodyRightBlock">
                <span>Как формируется кредитный рейтинг?</span>

                <p>Сервис нашего сайта предоставляет пользователям удобную возможность заказать персональный кредитный рейтинг оперативно, в режиме онлайн. Единственное требование, заполнить данные в форму .<br><br>

                    К ним относятся:<br><br>
                    
                    ФИО потенциального заемщика;<br>
                    дата рождения;<br>
                    контактные данные – адрес электронной почты для отправки выписки<br>
                    реквизиты паспорта.
                    </p>
                </div>
                <div class="midBodyLeftBlock">
                    <img src="{%static 'main/img/pdf.png'%}" alt="">
                </div>
        </div>
        <div class="midBodyBlock">
            <div class="midBodyLeftBlock">
                <img src="{%static 'main/img/creditScore.png'%}" alt="">
            </div>
            <div class="midBodyRightBlock">
                <span>Что означает кредитный скоринг балл  по шкале НБКИ?</span>
                <ul>
                    <li><span class="green">912-999</span> Вы отличный заемщик, шансы получить кредит максимальны, одобрят практически любой вид кредита под сниженный процент.</li>
                    <li><span class="ligth_green">623-911</span> У вас хорошие шансы получить кредит, усредненный балл на калькуляторе скоринга. С ним можно получить потребительский или целевой кредит на общих условиях без поблажек по снижению ставки и т.п.</li>
                    <li><span class="yellow">179-622</span> Получение кредита возможно, но не гарантированно, удовлетворительный скоринговый балл, с которым можно рассчитывать на одобрение займов в МФО, мелких экспресс-кредитов в лояльных банках.</li>
                    <li><span class="red">1-179</span> Вероятность получения кредита крайне мала.</li>
                </ul>
            </div>

        </div>
        <div class="midBodyBlock">

            <div class="midBodyRightBlock">
                <span>Когда понадобится?</span>

                <ul>
                    <li>Убедится что на вас не оформлен неизвестный кредит </li>
                    <li>Если вы собираетесь оформить кредит или ипотеку и хотите узнать, одобрит ли банк</li>
                    <li>Если вам отказали в кредите</li>
                </ul>
                <p>Расчет скоринга проводится с учетом нескольких ключевых параметров:</p>
                <ul>                   
                    <li>характер и продолжительность кредитной истории. Чем больше проблем во взаимоотношениях с банками и МФО, тем хуже;</li>
                    <li>текущая долговая нагрузка. Серьезный размер непогашенной кредитной задолженности уменьшает рейтинг;</li>
                    <li>количество и разнообразие заключенных договоров кредитования. Наличие разнообразных обязательств перед банками и МФО негативно влияет на результат скоринг-теста.</li>
                </ul>
            </div>
            <div class="midBodyLeftBlock">
                <img src="{%static 'main/img/CreditPhone.png'%}" alt="">
            </div>
        </div>
        <div class="midBodyBlock mid">
            <div class="midBodyRightBlock">
                <span>Можно ли повысить скоринговый балл?</span>

                <p>Самый простой способ обеспечить высокий кредитный рейтинг – четко и своевременно выполнять все финансовые обязательства. Рекомендация оказывается тем более ценной, если учесть факт хранения данных в бюро кредитных историй в течение, как минимум, десяти лет. Поэтому намного проще не допустить понижения скорингового балла, чем пытаться его повысить.<br>
                <p>Тем не менее, второй вариант развития событий вполне возможен. Для его реализации необходимо выполнить один или несколько пунктов из следующего списка:                   
                </p>
                <ul>
                    <li>проверить кредитную историю на предмет ошибок. Для этого необходимо заказать и получить отчет в одном из 4-х крупнейших кредитных бюро. Затем нужно выявить неточности в указанных сведениях, подтвердив наличие ошибок документально;</li>
                    <li>исправно вносить текущие платежи. Любая просрочка заметно уменьшает рейтинг потенциального клиента банковской или микрокредитной организации;</li>
                    <li>погасить один или несколько из имеющихся кредитов. Количество кредитных договоров и общая сумма задолженности напрямую влияют на скоринг-балл заемщика</li>
                    <li>оформить кредитку и активно пользоваться карточкой. При этом необходимо выполнять два условия – четкое внесение текущих платежей и кредитование не больше, чем на 25-30% доступного лимита;</li>
                    <li>получить небольшой микрозайм в МФО и оперативно погасить его. Добросовестное исполнение финансовых обязательств положительно влияет на кредитный рейтинг заемщика. При необходимости операция повторяется несколько раз</li>
                </ul>
                </p>
            </div>
        </div>    
        <div style="height: 150px;"></div>
    </div>
    <div class="bodyBottom mobile">
        <div class="midBodyBlock">
            <div class="midBodyRightBlock">
                <span>Почему некоторые сервисы предлагают проверить скоринг балл бесплатно.</span>
                <p>Наверняка вы видели предложение о проверки вашей кредитной истории (скоринг балла) «Абсолютно бесплатно», несколько довольно известных компаний предлагают такую услугу , так зачем же мне проверять скоринг балл за деньги подумаете вы ?<br><br>
                    Наверное все знают поговорку «Бесплатный сыр бывает только в мышеловке» , бесплатная проверка скоринг балла  именно это сыр . На сайте компании вам предложат ввести свои данные в том числе email и номер телефона, далее вы получите Вашу выписку , а компания предоставившая ее Вам ваши данные , далее чего что бы покрыть свои расходы на получение информации и получить прибыль компания продаст ваши данные как <b>Лид</b> ( потенциальный клиент заинтересованный в кредите), десяткам кредитных организаций ( МФО, МКК , Кредитным брокерам) и.т.д.   После чего на ваш email и номер телефона будут приходить бесконечные сообщения с предложением микрозайма , кредита и.т.п. <br>
                   Мы не продаем ваши данные поэтому выписка у нас платная. </p>
            </div>
            <!-- <div class="midBodyRightBlock">
                <span>Что такое скоринг балл?</span>
                <p>Скоринговая система получила свое название от английского слова «score», что переводится как счет или подсчет очков. Применяется скоринг в финансовых структурах для оценки платежеспособности заемщика. Клиент банка, при оформлении кредита, проходит обязательное анкетирование. Его профессиональные, демографические и социальные характеристики имеют определенный балл. Программа автоматически «подсчитывает очки» из анкеты и выдает результат о благонадежности потенциального заемщика. Сотрудник банка на основании скоринговой оценки решает: выдать кредит клиенту или же отказать ему.<br><br>

                    В основе банковского кредитования заложен принцип получения дохода от процента за предоставления заемных средств. Соответственно прибыль банкиры получают только при возврате денег надежными заемщиками. Чем больше у кредитной организации таких клиентов, тем выше доход.<br><br>
                    
                    Чтобы проверить качество кредитного портфеля клиента используется система скоринга при рассмотрении заявок. Многое зависит от базы кредитных историй, к которой обращается банк при оформлении займа. Например, если по базе известно, что клиент ранее пропускал платежи или имеет низкую платежеспособность, то ему в 99% случаев откажут в займе.<br><br>
                    
                    Наша компания обращается в самую крупную базу кредитной истории Нацианальное бюро кредитных историй.</p>
            </div> -->
            <div class="midBodyLeftBlock leftMobile">
                <img src="{%static 'main/img/creditHistory.png'%}" alt="">
            </div>
        </div>
        <div class="midBodyBlock">
            <div class="midBodyRightBlock">
                <span>Как формируется кредитный рейтинг?</span>

                <p>Сервис нашего сайта предоставляет пользователям удобную возможность заказать персональный кредитный рейтинг оперативно, в режиме онлайн. Единственное требование, заполнить данные в форму .<br><br>

                    К ним относятся:<br><br>
                    
                    ФИО потенциального заемщика;<br>
                    дата рождения;<br>
                    контактные данные – адрес электронной почты для отправки выписки<br>
                    реквизиты паспорта.
                    </p>
                </div>
                <div class="midBodyLeftBlock rigthMobile">
                    <img src="{%static 'main/img/pdf.png'%}" alt="">
                </div>
        </div>
        <div class="midBodyBlock">            
            <div class="midBodyRightBlock">
                <span>Что означает кредитный скоринг балл  по шкале НБКИ?</span>
                <ul>
                    <li><span class="green">912-999</span> Вы отличный заемщик, шансы получить кредит максимальны, одобрят практически любой вид кредита под сниженный процент.</li>
                    <li><span class="ligth_green">623-911</span> У вас хорошие шансы получить кредит, усредненный балл на калькуляторе скоринга. С ним можно получить потребительский или целевой кредит на общих условиях без поблажек по снижению ставки и т.п.</li>
                    <li><span class="yellow">179-622</span> Получение кредита возможно, но не гарантированно, удовлетворительный скоринговый балл, с которым можно рассчитывать на одобрение займов в МФО, мелких экспресс-кредитов в лояльных банках.</li>
                    <li><span class="red">1-179</span> Вероятность получения кредита крайне мала.</li>
                </ul>
            </div>
            <div class="midBodyLeftBlock leftMobile">
                <img src="{%static 'main/img/creditScore.png'%}" alt="">
            </div>
        </div>
        <div class="midBodyBlock">

            <div class="midBodyRightBlock">
                <span>Когда понадобится?</span>

                <ul>
                    <li>Убедится что на вас не оформлен неизвестный кредит </li>
                    <li>Если вы собираетесь оформить кредит или ипотеку и хотите узнать, одобрит ли банк</li>
                    <li>Если вам отказали в кредите</li>
                </ul>
                <p>Расчет скоринга проводится с учетом нескольких ключевых параметров:</p>
                <ul>                   
                    <li>характер и продолжительность кредитной истории. Чем больше проблем во взаимоотношениях с банками и МФО, тем хуже;</li>
                    <li>текущая долговая нагрузка. Серьезный размер непогашенной кредитной задолженности уменьшает рейтинг;</li>
                    <li>количество и разнообразие заключенных договоров кредитования. Наличие разнообразных обязательств перед банками и МФО негативно влияет на результат скоринг-теста.</li>
                </ul>
            </div>
            <div class="midBodyLeftBlock rigthMobile">
                <img src="{%static 'main/img/CreditPhone.png'%}" alt="">
            </div>
        </div>
        <div class="midBodyBlock mid">
            <div class="midBodyRightBlock">
                <span>Можно ли повысить скоринговый балл?</span>

                <p>Самый простой способ обеспечить высокий кредитный рейтинг – четко и своевременно выполнять все финансовые обязательства. Рекомендация оказывается тем более ценной, если учесть факт хранения данных в бюро кредитных историй в течение, как минимум, десяти лет. Поэтому намного проще не допустить понижения скорингового балла, чем пытаться его повысить.<br>
                <p>Тем не менее, второй вариант развития событий вполне возможен. Для его реализации необходимо выполнить один или несколько пунктов из следующего списка:                   
                </p>
                <ul>
                    <li>проверить кредитную историю на предмет ошибок. Для этого необходимо заказать и получить отчет в одном из 4-х крупнейших кредитных бюро. Затем нужно выявить неточности в указанных сведениях, подтвердив наличие ошибок документально;</li>
                    <li>исправно вносить текущие платежи. Любая просрочка заметно уменьшает рейтинг потенциального клиента банковской или микрокредитной организации;</li>
                    <li>погасить один или несколько из имеющихся кредитов. Количество кредитных договоров и общая сумма задолженности напрямую влияют на скоринг-балл заемщика</li>
                    <li>оформить кредитку и активно пользоваться карточкой. При этом необходимо выполнять два условия – четкое внесение текущих платежей и кредитование не больше, чем на 25-30% доступного лимита;</li>
                    <li>получить небольшой микрозайм в МФО и оперативно погасить его. Добросовестное исполнение финансовых обязательств положительно влияет на кредитный рейтинг заемщика. При необходимости операция повторяется несколько раз</li>
                </ul>
                </p>
            </div>
        </div>    
        <div style="height: 150px;"></div>
    </div>
    <script type="text/javascript">var ZCallbackWidgetLinkId  = '980c1da3416ca08db2c7f7d88466a24d';var ZCallbackWidgetDomain  = 'my.zadarma.com';(function(){    var lt = document.createElement('script');    lt.type ='text/javascript';    lt.charset = 'utf-8';    lt.async = true;    lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js';    var sc = document.getElementsByTagName('script')[0];    if (sc) sc.parentNode.insertBefore(lt, sc);    else document.documentElement.firstChild.appendChild(lt);})();</script>
</div>
{% endblock content %}
