body{
    margin: 0
}
*{
    font-family: 'Noto Sans', sans-serif;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
}
html {
    scroll-behavior: smooth;
  }
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
    background: linear-gradient(0deg, rgba(255,91,14,0.23573179271708689) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 70%, rgba(204,201,240,1) 100%);
    
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #8f8ca7;
}
.hearder{
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../img/header.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;  
    position: absolute;
    top: 0;
}
.hearder div img{
    cursor: pointer;
    height: 50px
}
.hearder div a{
    text-decoration: none;
    color: #4e5363;
    text-align: center;
    font-size: 20px
}
.logoBar{
    width: 55%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.headBar{
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menuButton{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
}
.menuIcon{
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/menu.svg);
    cursor: pointer;
    transition: 0.2s;   
     
}

.closeMenuIcon{
    background-image: url(../img/closedMenu.svg);
    transition: 0.2s;
    transform: rotate(180deg);
}
.back{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000007f;
    z-index: 10;
    display: none;
}
.backOpen{
    display: block;

}
.menu{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #CCC9F0;
    z-index: 11;
    right: -260px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.menu .menudiv .line{
    width: 80%;
    height: 1px;
    background-color: #4e5363;
    margin: 5px 0;
}
.menu .menudiv a{
    width: 80%;
    text-decoration: none;
    color: #4e5363;
    font-size: 20px;
}
.menu .menudiv{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menuOpen{
    right: 0px;
}
.fon{
    width: 100%;
    min-height: 95vh;
    min-height: 880px;
    background-image: url(../img/fon.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;  
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topHeadText{
    font-size: 35px;
    width: 60%;
    color: white;
    text-align: center;
}

.preFon ul{
    width: 30%;
    
}
.preFon ul li{
    font-size: 25px;
    color: white;
    
}
.preFon{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.homeForm{
    width: 50%;    
}
.formdiv{
    width: 100%;
    margin-top: -100px;
}
.bodyTop{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../img/bodyTop.svg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;  

}
.bodyBottom{
    background: linear-gradient(0deg, rgba(255,91,14,0.23573179271708689) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 70%, rgba(204,201,240,1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
.midBodyText{
    font-size: 40px;
    width: 60%;
    color: #4e5363;
    margin: 0;
    text-align: center;
}
.midBodyBlock{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midBodyLeftBlock img{
    width: 80%;
}
.midBodyLeftBlock{
    width: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.midBodyRightBlock span{
    width: 80%;    
    color: #4e5363;
    font-size: 27px;
    font-weight: bold;
}
.midBodyRightBlock ul{
    width: 85%;    
    color: #4e5363;
}
.midBodyRightBlock p{
    width: 85%;    
    color: #4e5363;

}
.midBodyRightBlock{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeForm div { 
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeForm div input{ 
    margin: 10px 0px;
    width: 40%;
}


.homeForm input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.homeForm input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
.homeForm input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
  
.homeForm input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.homeForm input::-webkit-outer-spin-button,
.homeForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.homeForm .errorPlaceholder::placeholder {
    color: red;
}
.homeForm .errorPlaceholder:-ms-input-placeholder {
    color: red;
}
.homeForm .errorPlaceholder::-webkit-calendar-picker-indicator {
    color: red;
}
.homeForm input{
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.543);
    margin: 10px 5px;
    border: 0;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    caret-color: white;
    padding-left: 5%;
}
.homeForm button{
    padding: 10px 15px;
    background-color: #3370B7;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border:0;
    margin-top: 15px;
}
.homeForm{
    width: 305px;
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.348);
}
.footer a{
    color: gray;
    font-size: 15px;
}
.footer p{
    color: gray;
    font-size: 15px;
}
.footer{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url(../img/footer.svg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;  
    margin-top: -90px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.footerRigth{
    width: 50%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerRigth div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerRigth img{
    height: 50px;
    margin: 0 20px;
}
.footerLeft p{
    margin: 2px;
}
.footerLeft{
    width: 50%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.footerBottom{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactPage p span{
    color: gray;
}
.contactPage{
    min-height: 80vh;
    min-width: 100%;
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.payinfo{
    color: gray;
    font-size: 12px;
    text-align: center;
}
.payForm span{
    color: gray;
}
.payForm .line{
    width: 95%;
    height: 1px;
    background-color: #c3c3c3;
    margin: 10px 0;
}
.payForm div p{
    margin: 0;
}
.payNotification{
    font-weight: bold;
    width: 90%;
    margin-top: 30px;
}
.payForm div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.payForm{
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.payPage{
    min-height: 100vh;
    min-width: 100%;
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.payPage button{
    padding: 10px 15px;
    background-color: #3370B7;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border:0;
    margin-top: 15px;
    box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.11);
}
li .green{
    color: #00c00f;
    font-size: 18px;
}
li .ligth_green{
    color: #00f919;
    font-size: 18px;
}
li .yellow{
    color: #e5d900;
    font-size: 18px;
}
li .red{
    color: #fe0000;
    font-size: 18px;
}
#errorText{
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.384);
}
.pc{
    display: flex;
}
.mobile{
    display: none;
}
.errorHeader{
    font-weight: bold;
    font-size: 165px;
    margin: 0;
    color: #4e5363;
}
.p505{
    letter-spacing:5px;
}
.loadtext{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
    color: #4e5363;
    text-align: center;
}
.errortext{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    margin-top: -30px;
    color: #4e5363;
    text-align: center;
}
.localToken{
    width: 300px;
    min-height: 100px;
    border-radius:0 10px 10px 0;
    background-color: white;
    box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.11);
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cec9f1;
    cursor: pointer;
    user-select: none;
}
.localToken span{
    width: 80%;
    text-align: center;
    margin-bottom: 15px;
}
.localToken p{
    width: 80%;
    text-align: center;
    font-weight: bold;
    color: #4e5363;
    font-size: 20px;
}
.downloadPNG2{
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: zagAnim2 18s  infinite;
    margin-top: -80px;
}
.downloadPNG{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: zagAnim 18s  infinite;
}
.closeWidget{
    background-image: url(../img/closedMenu.svg);
    left: 251px;
    top: 157px;
    width: 40px;
    height: 40px;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 9999999999999;
    cursor: pointer;
}
@keyframes zagAnim {
    0% {
      transform: rotate(3600deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
@keyframes zagAnim2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
  }
@media screen and (max-width: 1650px) {
    .headBar{
        width: 28%;
    }
}
@media screen and (max-width: 1400px) {
    .fon{
        background-size: cover;
    }
    .hearder{
        height: 90px;
    }
    .headBar{
        width: 35%;
    }
    .bodyTop{
        height: 80px;
    }
    .formdiv{
        margin-top: -80px;
    }
    .topHeadText{
        width: 95%;
        
    }
    .footerRigth div{
        justify-content: space-evenly;

    }
}
@media screen and (max-width: 1000px) {
    .bodyTop {
        height: 68px;
    }
    .footerRigth img{
        height: 30px;
    }
    .footer p{
        text-align: center;
    }
    .preFon{
        flex-direction: column;
    }
    .preFon ul{
        width: 80%;
    }
    .topHeadText{
        margin-top: 150px;
        font-size: 22px;

    }
    .preFon ul li{
        font-size: 20px;
    }
    .preFon{
        margin-bottom: 120px;
    }
    .headBar{
        width: 54%;
    }
    .midBodyText{
        width: 100%;
        font-size: 22px;
    }
    .midBodyRightBlock span{
        font-size: 20px;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .midBodyBlock{
        flex-direction: column;
    }
    .midBodyRightBlock {
        width: 100%;
    }
    .midBodyLeftBlock{
        width: 80%;
    }
    .midBodyLeftBlock img{
        width: 100%;
    }
    .leftMobile{
        justify-content: flex-start;
    }
    .rigthMobile{    
        justify-content: flex-end;
    }
    .footer{
        flex-direction: column;
    }
    .footerLeft{
        width: 100%;
        margin-top: 20px;
    }
    .footerRigth{
        width: 100%;
    }
    .footerBottom{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .closeWidget{
        left: 316px;
        top: auto;
        bottom: 83px;
    }
    .localToken{
        width: 100%;
        border-radius: 10px;
        top: auto;
        bottom: 0;
    }
    .payForm{
        width: 80%;
    }
    .headBar{
        display: none;
    }
    .logoBar{
        width: 80%;
        height: 60px;
    }
    .hearder div img{
        height: 40px;
    }
}